# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.html text
*.md text
*.xml text
*.txt text

# These files are binary and should be left untouched
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
